<div class="update-blog-container p-3">
  <form ngForm #form="ngForm" name ="form" (ngSubmit)="updatePost(form.value)">
    <div class="form-group">
      <label for="blogtitle">Your blog Title</label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="title"
        [(ngModel)]="currentPost && currentPost.title"
        placeholder="Enter title"
        required
      />
    </div>

    <div class="form-group">
      <label for="blog-subtitle">Your blog subtitle</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter subtitle"
        ngModel
        name="subtitle"
        [(ngModel)] = "currentPost && currentPost.subtitle"
      />
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        name="content"
        ngModel
        [(ngModel)] ="currentPost && currentPost.content"
        rows="3"
        required
      ></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
  {{ form.value | json }}
</div>
