<div class="container-fluid">

  <div class="item">
  </div>
  <div class="custom-container ml-auto bg-white" *ngIf="!isLoggedIn">
    <div class="header d-flex justify-content-between">
      <h3>Writing as a developer, the best way.</h3>
      <div class="header-buttons">

        <button class="btn btn-outline-secondary mr-2" [routerLink]="['/login']">Login</button>
        <button class="btn btn-primary mr-4" [routerLink]="['/signup']">Create an
          Account</button>
        </div>
      </div>
    </div>



      <div class="hero-section custom-container">
        <h2>Everything you need to start blogging as a developer!</h2>
        <h5>Own your content, share ideas, and
          connect with the global dev community!</h5>
        <button class="btn btn-primary">Start your personal blog for FREE</button>

        <div class="hero-cards row justify-content-center mt-5">
          <div class="hero-icons col-md-3">
            <img class ="svg-icons w-20" src="../../../assets/undraw_Online_articles_re_yrkj.svg" alt="">
            <p>Start a developer blog</p>
          </div>
          <div class="hero-icons col-md-3">
            <img class ="svg-icons w-20" src="../../../assets/undraw_connected_world_wuay.svg" alt="">
            <p>Map your custom domain</p>
          </div>
          <div class="hero-icons col-md-3">
            <img class ="svg-icons w-20" src="../../../assets/undraw_community_8nwl.svg" alt="">
            <p>Connect with Community</p>
          </div>
        </div>
      </div>




  <div class="custom-container">
    <div class="row about-section">
      <div class="col-md-4 vision">
        <h2>What</h2>
        <p>Hashnode is a free developer blogging platform that allows you to publish articles on your own domain and
          helps you stay connected with a global developer community.</p>
      </div>
      <div class="col-md-4 vision">
        <h2>Why</h2>
        <p>This gives you a huge advantage: Google and other search engines send traffic directly to your domain, and
          Hashnode community members discover your articles on their feed.</p>
      </div>
      <div class="col-md-4 vision">
        <img  class ="svg-icons w-20"src ="../../../assets/undraw_real_time_collaboration_c62i.svg" alt="about graphos image"/>
      </div>

    </div>
  </div>

  <div class="custom-container">
      <div class="content-owner-section">
        <h2>Content Ownership.</h2>
        <h2 class="mb-5">No Ads. No Paywall. No kidding.</h2>



      <div class="content-owner-cards row">
        <div class=" col-md-3">
          <img class ="svg-icons w-20" src="../../../assets/undraw_Domain_names_re_0uun.svg" alt="">
          <h3>Blog on your personal domain</h3>
          <p>Map your custom domain in just seconds via our free CNAME pointing feature. Serve your blog over HTTPS with
            no extra configuration.

            Get a high performance, secure, and fully-optimized blog that delights your readers.</p>
        </div>
        <div class="col-md-3
        3">
        <img class ="svg-icons w-20" src="../../../assets/undraw_Mobile_marketing_re_p77p.svg" alt="">
          <h3>Instantly find your audience</h3>
          <p>Every time you write an article, Hashnode publishes it on your domain and shares it with the community
            members on the homepage. The readers are directed to your website to read and interact with your content</p>
        </div>
        <div class=" col-md-3">
          <img class ="svg-icons w-20" src="../../../assets/undraw_word_of_mouth_v1j9 (1).svg" alt="">
          <h3>No annoying pop-ups/ads</h3>
          <p>Knowledge sharing on Hashnode is and will always be completely free.

            Because we value the relationship between you and your readers, we won’t show ads or pop-ups on your articles.
          </p>
        </div>
      </div>
      <div class="get-started">

        <button class="btn btn-primary" [routerLink]="['/signup']">Get Started</button>
      </div>

    </div>



    <div class="custom-container">
      <div class="trending-bloggers">
        <h2 class="text-center">Trending Bloggers This Week</h2>
        <div class="row mt-5">
          <div class="col-md-6 row">
            <div class="col-md-3">
              <img src="" alt="">
            </div>
            <div class="col-md-9">
              <h3 class="writer-name">Oliver Jumpertz</h3>
              <h4 class="writer-site">blog.oliverjumpertz.dev</h4>
              <p class="writer-bio">I simply love software engineering. ❤️ And what I really love is JavaScript /
                TypeScript, Rust, and the web! Come and explore the wonderful</p>
            </div>
          </div>
          <div class="col-md-6 row">
            <div class="col-md-3">
              <img src="" alt="">
            </div>
            <div class="col-md-9">
              <h3 class="writer-name">Oliver Jumpertz</h3>
              <h4 class="writer-site">blog.oliverjumpertz.dev</h4>
              <p class="writer-bio">I simply love software engineering. ❤️ And what I really love is JavaScript /
                TypeScript, Rust, and the web! Come and explore the wonderful</p>
            </div>
          </div>
          <div class="col-md-6 row">
            <div class="col-md-3">
              <img src="" alt="">
            </div>
            <div class="col-md-9">
              <h3 class="writer-name">Oliver Jumpertz</h3>
              <h4 class="writer-site">blog.oliverjumpertz.dev</h4>
              <p class="writer-bio">I simply love software engineering. ❤️ And what I really love is JavaScript /
                TypeScript, Rust, and the web! Come and explore the wonderful</p>
            </div>
          </div>
          <div class="col-md-6 row">
            <div class="col-md-3">
              <img src="" alt="">
            </div>
            <div class="col-md-9">
              <h3 class="writer-name">Oliver Jumpertz</h3>
              <h4 class="writer-site">blog.oliverjumpertz.dev</h4>
              <p class="writer-bio">I simply love software engineering. ❤️ And what I really love is JavaScript /
                TypeScript, Rust, and the web! Come and explore the wonderful</p>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
  <div class=" custom-container">
    <div class="text-center mt-5">
      <h2 class="text-center">Start blogging with Hashnode, it's Free!</h2>
      <h5>Don't miss out</h5>

      <button class="btn btn-primary p-4" [routerLink]="['/signup']">
        Start your personal blog for free
      </button>
    </div>

    <footer class="row">
      <div class="footer-text col-md-6">

        <h2>graphos</h2>
        <p>A blogging platform built for developers by developers. Blog on personal domain, share ideas, and connect with the global dev community!</p>
      </div>

      <div class="col-md-6">
        <img src="" alt="">
      </div>

      <div class="social-icons d-flex ml-4 my-4">
        <div class="media-icon"><fa-icon [icon]="faInstagram"></fa-icon></div>
        <div class="media-icon"><fa-icon [icon]="faLinkedin"></fa-icon></div>
        <div class="media-icon"><fa-icon [icon]="faTwitter"></fa-icon></div>
        <div class="media-icon"><fa-icon [icon]="faYoutube"></fa-icon></div>
        <div class="media-icon"><fa-icon [icon]="faGithub"></fa-icon></div>
        <div class="media-icon"><fa-icon [icon]="faFacebook"></fa-icon></div>
      </div>
    </footer>
  </div>

</div>
