<div class="bookmark-container">
  <div class="w-50 mt-4 mr-4 ml-auto">
    <input
      type="email"
      class="form-control w-60"
      ngModel
      name="search"
      #search="ngModel"
      (ngModelChange)="handleSearch(search)"
      placeholder="Search"
    />
  </div>
  <div class="row mt-4" *ngIf="isLoading">
    <div class="col-md-12 text-center">
      <ngx-skeleton-loader class="loader" count="3" [theme]="{
          'border-radius': '5px',
          height: '200px',
          width: '28%',
          'background-color': '#f5f6fa',
          border: '1px solid white'
        }"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row blog-card-container">
    <app-blogcard
      class = "col-md-4"
      *ngFor="let post of bookmarkedPosts"
      (onReadMore)="readFullPost(post)"
      [post]="post"
    ></app-blogcard>
  </div>
</div>
